[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/dapphub/ds-value
[submodule "lib/dss"]
	path = lib/dss
	url = https://github.com/makerdao/dss
[submodule "lib/dss-add-ilk-spell"]
	path = lib/dss-add-ilk-spell
	url = https://github.com/makerdao/dss-add-ilk-spell
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/tinlake-title"]
	path = lib/tinlake-title
	url = https://github.com/centrifuge/tinlake-title
[submodule "lib/tinlake-erc20"]
	path = lib/tinlake-erc20
	url = https://github.com/centrifuge/tinlake-erc20
[submodule "lib/tinlake-registry"]
	path = lib/tinlake-registry
	url = https://github.com/centrifuge/tinlake-registry
[submodule "lib/tinlake-math"]
	path = lib/tinlake-math
	url = https://github.com/centrifuge/tinlake-math
[submodule "lib/tinlake-auth"]
	path = lib/tinlake-auth
	url = https://github.com/centrifuge/tinlake-auth
